.navbar {
    padding: 2% 15% !important;
    height: 10%;
}

.navbar-brand {
    font-weight: bold;
    color:#ffffff;
}

.nav-link {
    color:#ffffff;
}

.nav-link:hover {
    color: black;
}

.collapse {
    justify-content: right;
}

.carousel-item {
    display: flexbox;
    justify-content: center;
}

.d-block {
    width: 95%;
}

.carousel-padd {
    padding: 1% 10% !important;
}

.box {
    margin: 0 2%;
}

#fasilitas h2 {
    text-align: center;
}

.fasilitas {
    margin-top: 2%;
}

.ungu {
    background-color: #d737f7 !important;
    color: #ffffff;
    padding: 5% 10%;
}

.putih {
    background-color: ghostwhite;
    padding: 5% 10%;
}

#kontak h2 {
    text-align: center;
}

.kontak {
    padding: 5%;
}

.kontak .box p {
    text-align: center;
}

.kontak .box h4 {
    text-align: center;
}

#alamat h2,p{
    text-align: center;
    margin-bottom: 2%;
}

footer {
    text-align: center;
}

.icon {
    color: #ffffff;
    margin: 0 1%;
}
